* {
    background-color: azure;
}

h1 {
    color: white;
    background-color: blue;
    text-align: center;
}

img {
    height: 300px;
    width: auto;
}

.ingredients {
    width: 500px;
    margin: 20px auto;
    padding: 50px;
    border: solid blue 2px;
}