* {
    background-color: azure;
}

h1 {
    color: white;
    background-color: blue;
    text-align: center;
}

img {
    height: 300px;
    width: auto;
    
}

.ingredients, .steps {
    width: 500px;
    padding: 30px;
    margin: 20px;
    border: solid blue 2px;
}